* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url(images/Arma-3-Apex_wallpaper_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.banner {
  width: 900px;
  height: 200px;
  margin: auto;
  opacity: 0.9;
}

.banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main {
  width: 900px;
  margin: auto;
  height: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}

.main p {
  color: lightgrey;
  font-size: 20px;
}

a {
  color: #539198;
}

a:visited {
  color: #4F7F45;
}
